[submodule "analysis/GetOldTweets-python"]
	path = analysis/GetOldTweets-python
	url = https://github.com/Jefferson-Henrique/GetOldTweets-python.git
[submodule "analysis/control/GOT"]
	path = analysis/control/GOT
	url = https://github.com/Jefferson-Henrique/GetOldTweets-python.git
