.ipython/
.cache/
*.swp

**/__pycache__

*.csv
*.txt
*.json

!analysis/trump_tweets/TrumpTweets.csv
!analysis/merged.csv
!analysis/relative_probs.csv

!analysis/trump_counts.csv
!analysis/control_counts.csv
