<!DOCTYPE html>
<html lang='en'>
<head>
	<title>This is a title bb</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
	<div class="container">
		<h1><center>Presidental Tweet Predictor</center></h1>
		<p>This part is inside a .container class.</p>
		<p>The .container class provides a responsive fixed width container.</p>
	</div>
</body>
</html>
