<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Presidential Tweet Anaysis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
</head>
<body>
    <div class="container marketing">
 <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Introduction<span class="text-muted"> Analyzing Trump Tweets.</span></h2>
            <p class="lead">By analyzing aspects of Donald Trump’s tweets you may be able to see trends in word use, phrase use, and other aspects to be able to predict whether or not a given tweet came from Donald Trump.
</p>
          </div>
          <div class="col-md-5">
              <img src = "/static/images/TrumpTweeting.jpg" width = "436" height = "244">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <img src = "/static/images/TrumpUncommonWords.svg" width = "700" height = "500">
            </div>
          <div class="col-md-5">
            <h2 class="featurette-heading">Trump's most common words<span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
        </div>



        <hr class="featurette-divider">
        <div>
          <h2>(Trump Tweet) | !(Trump Tweeet)</h2>
          <p class="lead">Want to figure out whether or not Trump tweeted something out? Enter the text below to predict if it came from our commander-in-chief.</p>
        </div>

        <div class="col-md-7">            
          <textarea rows="4" cols="80" id="text"></textarea>
          <input type="submit" value="Analyze" onclick="getData()">
        </div>
        <div class="col-md-5">
					<h3 id ="confText"></h3>
            <img id="confImg" width= "400" height = "300"></img>
        </div>

          <svg>
          </svg>

        </div>
</body>
</html>
<script>

function updateBarChart(data){
// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// set the ranges
var x = d3.scaleBand()
          .range([0, width])
          .padding(0.1);
var y = d3.scaleLinear()
          .range([height, 0]);
          
// append the svg object to the body of the page
// append a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

// get the data

  // format the data
  data.forEach(function(d) {
    d.sales = +d.sales;
  });

  // Scale the range of the data in the domains
  x.domain(data.map(function(d) { return d.salesperson; }));
  y.domain([0, d3.max(data, function(d) { return d.sales; })]);

  // append the rectangles for the bar chart
  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.salesperson); })
      .attr("width", x.bandwidth())
      .attr("y", function(d) { return y(d.sales); })
      .attr("height", function(d) { return height - y(d.sales); });

  // add the x Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // add the y Axis
  svg.append("g")
      .call(d3.axisLeft(y));

}
getData()

function getData(){
    submitURL = "/predict"
    var postReq = {};
    postReq["sentence"] = document.getElementById("text").value;
    console.log("JS of req:" + JSON.stringify(postReq));
    var xhr = new XMLHttpRequest();
    xhr.open("POST", submitURL, true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    console.log(submitURL);
    xhr.send(JSON.stringify(postReq));
    console.log(xhr);
    xhr.onloadend = function () {
        console.log(xhr);
        if (xhr.readyState == XMLHttpRequest.DONE) {
            console.log(xhr.responseText);
                currentData = JSON.parse(xhr.responseText.replace(/\'/g,"\""))
                console.log(currentData)
                conf = currentData["trump_confidence"]
                if(conf > .6){
                  document.getElementById("confText").innerHTML = "It's probably a Trump Tweet"
                  document.getElementById("confImg").src = "/static/images/TrumpThumbsUp.png";

                }
                else if(conf < .4){
                  document.getElementById("confText").innerHTML = "It's probably not a Trump Tweet"
                  document.getElementById("confImg").src = "/static/images/TrumpThumbsDown.png";

                }
                else{
                  document.getElementById("confText").innerHTML = "Not too sure"
                  document.getElementById("confImg").src = "/static/images/ConfusedTrump.png";

                }




                updateBarChart(currentData["word_confidences"])
       } else {
            alert("Did not get response, server is down?")
        }
    }
}



</script>

